<launch>
    <include file="$(find realsense2_camera)/launch/ME206A/rs_d435i_and_t265.launch">
        <arg name="camera2_color_width"               default="640"/> <!-- 1280*720*6/30Hz, 848*480*6/30/60Hz, 640*360*6/30/60Hz -->
        <arg name="camera2_color_height"              default="360"/>
        <arg name="camera2_color_fps"                 default="6"/> <!-- Remember to change ROS node frequency -->
    </include>

    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure"/>

    <node pkg="dynamic_reconfigure" type="dynparam" name="disable_auto_exp" args="set /d435i/rgb_camera enable_auto_exposure false"/>
    <node pkg="dynamic_reconfigure" type="dynparam" name="set_exp" args="set /d435i/rgb_camera exposure 500"/>

    <node pkg="rviz" name="rviz" type="rviz" args="-d $(find localization)/rviz/d435i_and_t265.rviz" output="screen"/>

    <node pkg="localization" type="img_save_node" name="img_save_node" output="screen"/>

</launch>